<%= form_with(model: current_status, local: true) do |form| %>
  <% if current_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_status.errors.count, "error") %> prohibited this current_status from being saved:</h2>

      <ul>
      <% current_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.text_field :status_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
