<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @current_status.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @current_status.status %>
</p>

<%= link_to 'Edit', edit_current_status_path(@current_status) %> |
<%= link_to 'Back', current_statuses_path %>
