<h1>Set Status</h1>

<div class="list-group">
		<%= link_to '<i class="fa fa-check-square"></i> Available'.html_safe, user_path(@user, user:{status_id: 1}), method: :put, class: "list-group-item" %>
		<%= link_to '<i class="fa fa-hourglass-half"></i> Back Shortly'.html_safe, user_path(@user, user:{status_id: 2}), method: :put, class: "list-group-item" %>
		<%= link_to '<i class="fa fa-comments"></i> In a meeting'.html_safe, user_path(@user, user:{status_id: 3}), method: :put, class: "list-group-item" %>
		<%= link_to '<i class="fa fa-desktop"></i> Working Remotely'.html_safe, user_path(@user, user:{status_id: 4}), method: :put, class: "list-group-item" %>
		<%= link_to '<i class="fa fa-pizza-slice"></i> On Lunch'.html_safe, user_path(@user, user:{status_id: 5}), method: :put, class: "list-group-item" %>
		<%= link_to '<i class="fa fa-times"></i> Out of the office'.html_safe, user_path(@user, user:{status_id: 6}), method: :put, class: "list-group-item" %>

	</div>